@import url('https://fonts.googleapis.com/css?family=Raleway:400,200');

/* ---------- Global theme ---------- */
:root {
    --main-color-1: #474643;
    --main-color-dark-1: #71b0b4;
    --section-padding: 7rem;

    --color-palette-0: #3aa3cc;
    --color-palette-1: #4670a0;
    --color-palette-2: #323435;
    --color-palette-3: #0d5824;
    --color-palette-4: #148a37;
    --color-palette-5: #c2c7c3;
    --color-palette-6: #922c13;
    --color-palette-7: #ec3406;
    --color-palette-8: #726e6d;
}

body {
    --bg-color: #292c2c;
    --bg-color-transparent: rgba(255, 255, 255, 0.6);
    --heading-color: #1a2b3f;
    --text-color: #ffffff;
}

/* ---------- Global styles ---------- */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: var(--bg-color);
    font-family: 'Raleway', sans-serif;
    transition: 0.3s background-color;
}

/* ---------- Reusable CSS code ---------- */

.container {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 75rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}

.sub-heading {
    color: var(--heading-color);
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 0.5px;
    border-left: 3px solid var(--main-color-2);
    padding: 0.13rem 0.75rem;
    margin-bottom: 1rem;
    font-weight: 500;
    transition: 0.3s color;
}

.heading {
    color: var(--heading-color);
    font-size: 4rem;
    font-family: 'Raleway', cursive;
    font-weight: 400;
    line-height: 1.5;
    transition: 0.3s color;
}

.text {
    color: var(--text-color);
    font-size: 0.9rem;
    margin: 2rem 0;
    line-height: 2.3;
    transition: 0.3s color;
}

.cta {
    margin-top: 3.5rem;
    display: flex;
    align-items: center;
}

.cta .btn {
    margin-right: 1.5rem;
}

.btn {
    display: inline-block;
    padding: 0.9rem 1.75rem;
    border-radius: 17px;
    background-color: var(--color-palette-3);
    color: #fff;
    font-size: 1rem;
    letter-spacing: 0.4px;
    min-width: 125px;
    text-align: center;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-family: inherit;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

.btn:hover {
    background-color: var(--color-palette-4);
}

.btn.delete {
    display: inline-block;
    padding: 0.9rem 1.75rem;
    border-radius: 17px;
    background-color: var(--color-palette-6);
    color: #fff;
    font-size: 1rem;
    letter-spacing: 0.4px;
    min-width: 125px;
    text-align: center;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-family: inherit;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

.btn.delete:hover {
    background-color: var(--color-palette-7);
}


.section {
    position: relative;
    padding: var(--section-padding) 0;
}

.main-page-info {
    width: 100%;
    margin-top: 1rem;
}


.form-input {
    display: flex;
    padding: 0.7rem 1.5rem;
    background: var(--color-palette-5);
    border: 2px solid var(--color-palette-4);
    width: 30%;
    border-radius: 10px;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    color: var(--bg-color);
    outline: none;
}

.message {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
}

.triangle-icon {
    align-items: center;
    color: orange;
}

.alert {
    align-items: center;
    color: var(--color-palette-5);
}

.flex-shrink-0 {
    align-items: center;
    color: var(--color-palette-5);
    width: 60px;
    height: 60px;
}

.text-message {
    width: 100%;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    margin: 0.8rem 0;
    color: var(--color-palette-5);
}

button {
    display: flex;
    width: 60px;
    height: 60px;
    color: var(--color-palette-5);
    background-color: var(--bg-color);
    font-size: 30px;
    align-items: center;
    justify-content: center;
}


/* ---------- Navbar styles ---------- */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: 0.3s;
}

nav.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.links {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.links ul {
    display: flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
}

.links li a {
    text-decoration: none;
}

.nav-link {
    position: relative;
    display: inline-block;
    margin: 0 2rem;
    font-size: 2rem;
    letter-spacing: 0.5px;
    color: var(--text-color);
    font-weight: 500;
    opacity: 0.9;
    transition: 0.3s;
    text-decoration: none;
}

.nav-text {
    position: relative;
    display: inline-block;
    margin: 0 2rem;
    font-size: 2rem;
    letter-spacing: 0.5px;
    color: var(--text-color);
    font-weight: 500;
    opacity: 0.9;
    transition: 0.3s;
    text-decoration: none;
}

.nav-link:hover,
.nav-link.active {
    color: var(--color-palette-1);
}

.nav-link:hover::after,
.nav-link.active::after {
    width: 100%;
    opacity: 0.2;
}


/* ---------- Main section styles ---------- */

.main-page {
    padding: 120px 0;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.main-page .container {
    align-items: center;
}

.main-page .sub-heading {
    margin-bottom: 0.7rem;
}

.main-page-info {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.main-page .heading {
    font-size: 4rem;
    text-align: center;
    color: var(--text-color);
}

.main-page .text {
    text-align: center;
    font-size: 1rem;
    margin: 0.8rem 0;
}

.main-page .cta {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.main-page .btn {
    margin: 2rem 5rem;
    align-items: center;
}

/* ---------- Panel section styles ---------- */

.panel {
    padding: 120px 0;
    width: 100%;
    overflow: hidden;
    position: relative;
    height: auto;
}

.panel .container {
    align-items: center;
    height: auto;
    overflow: auto;
}

.panel .sub-heading {
    margin-top: 50px;
    margin-bottom: 0.7rem;
    font-size: 2rem;
    text-align: center;
    color: var(--text-color);
}

.panel-info {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.panel .heading {
    font-size: 4rem;
    text-align: center;
    color: var(--text-color);
}

.panel .panel-tasks {
    justify-content: center;
    height: auto;
}

.panel .form-container {
    margin-top: 20px;
}

.panel .panel-list {
    height: 500px;
    align-items: center;
    justify-content: center;
    width: 50%;
    font-size: 1rem;
    margin-left: 25%;
    background-color: var(--color-palette-5);
    border-radius: 20px;
}

.panel .form-input {
    margin-top: 20px;
    display: flex;
    width: 80%;
    margin: 0.5rem 0;
    margin-left: 10%;
    opacity: 0.7;
}

.panel .panel-list .sub-heading {
    margin-top: 50px;
    margin-bottom: 0.7rem;
    font-size: 2rem;
    text-align: center;
    color: var(--color-palette-3);
}

.panel .text {
    text-align: center;
    font-size: 1rem;
    margin: 0.8rem 0;
    color: var(--bg-color);
}

.panel .cta {
    width: 100%;
    align-items: center;
    justify-content: center;
}

.panel .btn {
    align-items: center;
    margin-left: 10%;
}

.panel .btn.delete {
    margin-top: 10px;
    align-items: center;
}

.panel .panel-add {
    margin-top: 50px;
    height: 600px;
    align-items: center;
    justify-content: center;
    width: 50%;
    font-size: 1rem;
    margin-left: 25%;
    background-color: var(--color-palette-5);
    border-radius: 20px;
}

.panel .panel-add .sub-heading {
    margin-top: 50px;
    margin-bottom: 0.7rem;
    font-size: 2rem;
    text-align: center;
    color: var(--color-palette-4);
}

.panel .label {
    margin-left: 10%;
    font-size: 1rem;
}

/* ---------- Login section styles ---------- */

.login {
    padding: 120px 0;
    width: 100%;
    overflow: hidden;
    position: relative;
    justify-content: center;
}

.login .sub-heading {
    display: flex;
    font-size: 4rem;
    margin-bottom: 2rem;
    color: var(--color-palette-4);
    justify-content: center;
}

.login .login-box {
    background-color: var(--color-palette-5);
    border-radius: 20px;
    height: 400px;
    width: 50%;
    margin-top: 10%;
    margin-left: 25%;
    justify-content: center;
    align-items: center;
}

.login .label {
    text-align: center;
    justify-content: center;
    font-size: 1.3rem;
}

.login .login-add {
    text-align: left;
    justify-content: center;
    margin-left: 10%;
    font-size: 1.3rem;
}

.login .form-input {
    display: flex;
    width: 80%;
    margin-top: 10px;
    opacity: 0.7;
    color: black;
}

.login .text {
    text-align: center;
    font-size: 1.2rem;
    margin: 0.8rem 0;
    color: black;
}

.login .btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login .container {
    align-items: center;
}

/* ---------- Register section styles ---------- */

.register {
    padding: 120px 0;
    width: 100%;
    overflow: hidden;
    position: relative;
    justify-content: center;
}

.register .sub-heading {
    display: flex;
    font-size: 4rem;
    margin-bottom: 2rem;
    color: var(--color-palette-4);
    justify-content: center;
}

.register .register-box {
    background-color: var(--color-palette-5);
    border-radius: 20px;
    height: 500px;
    width: 50%;
    margin-top: 10%;
    margin-left: 25%;
    justify-content: center;
    align-items: center;
}

.register .label {
    text-align: center;
    justify-content: center;
    font-size: 1.3rem;
}

.register .register-add {
    text-align: left;
    justify-content: center;
    margin-left: 10%;
    font-size: 1.3rem;
}

.register .form-input {
    display: flex;
    width: 80%;
    margin-top: 10px;
    opacity: 0.7;
    color: black;
}

.register .text {
    text-align: center;
    font-size: 1.2rem;
    margin: 0.8rem 0;
    color: black;
}

.register .btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.register .container {
    align-items: center;
}