<!DOCTYPE html>

<form action="/add" method="POST">
    <input type="text" name="name">
    <input type="text" name="description">
    <input type="text" name="start_date">
    <input type="text" name="end_date">
    <input type="text" name="status">
    <input type="text" name="priority">
    <input type="submit">
</form>

{% for task in tasks %}
<h1>{{ task.name }}</h1>
<h1>{{ task.description }}</h1>
<h1>{{ task.start_date }}</h1>
<h1>{{ task.end_date }}</h1>
<h1>{{ task.status }}</h1>
<h1>{{ task.priority }}</h1>
{% endfor %}