{% extends 'base.html' %}

{% block content %}

<body>
    <main>
        <section class="main-page">
            <div class="container">
                <div class="main-page-info">
                    <h1 class="heading">Apllication for daily tasks.</h1>
                    <p class="text">Please login or register for use application.</p>
                    <div class="cta">
                        <a href="{{ url_for('login') }}" class="btn">Login</a>
                        <a href="{{ url_for('register') }}" class="btn">Register</a>
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>

{% endblock %}