{% extends 'base.html' %}

{% block content %}

<body>
    <main>
        <section class="panel">
            <div class="message">
                {% for message in get_flashed_messages() %}
                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                    <symbol class="triangle-icon" id="exclamation-triangle-fill" fill="currentColor"
                        viewBox="0 0 16 16">
                        <path
                            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                    </symbol>
                </svg>

                <div class="alert" role="alert">
                    <svg class="flex-shrink-0" role="img" aria-label="Warning:">
                        <use xlink:href="#exclamation-triangle-fill" />
                    </svg>
                    <div class="text-message">
                        {{ message }}
                    </div>
                    <button type="button" class="uil uil-multiply" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
            <div class="container">
                <div class="panel-tasks">
                    <h3 class="sub-heading">Your tasks</h3>
                    {% for task in tasks %}
                    <div class="panel-list">
                        <h3 class="sub-heading">Task</h3>
                        <form method="POST" class="form-container"
                            action="{{ url_for('update_task', task_id=task.id) }}">
                            <input type="text" class="form-input" name="name" placeholder="Task title"
                                value={{task.name}}>
                            <input type="text" class="form-input" name="description" placeholder="Task description"
                                value={{task.description}}>
                            <input type="date" class="form-input" name="start_date" value={{task.start_date}}>
                            <input type="date" class="form-input" name="end_date" value={{task.end_date}}>
                            <div class="dropdown">
                                <select class="dropbtn" name="status" id="status">
                                    <option selected disabled hidden>{{task.status}}</option>
                                    <option value="To do">To do</option>
                                    <option value="In progress">In progress</option>
                                    <option value="Complete">Complete</option>
                                </select>
                            </div>
                            <div class="dropdown">
                                <select class="dropbtn" name="priority" id="priority">
                                    <option selected disabled hidden>{{task.priority}}</option>
                                    <option value="Low">Low</option>
                                    <option value="Normal">Normal</option>
                                    <option value="High">High</option>
                                </select>
                            </div>
                            <input type="submit" class="btn" value="Save" name="action">
                        </form>
                        <form method="POST" action="{{ url_for('delete_task', task_id=task.id) }}">
                            <input class="btn delete" type="submit" name="delete" value="Delete"
                                onclick="return confirm('Are you want to delte this task?')">
                        </form>
                    </div>
                    {% endfor %}
                    <div class="panel-add">
                        <h3 class="sub-heading">New Task</h3>
                        <form method="POST" action="/add">
                            <label class="label">Title:</label>
                            <input type="text" class="form-input" name="name">
                            <label class="label">Description:</label>
                            <input type="text" class="form-input" name="description">
                            <label class="label">Start Date:</label>
                            <input type="date" class="form-input" name="start_date">
                            <label class="label">End Date:</label>
                            <input type="date" class="form-input" name="end_date">
                            <label class="label">Status:</label>
                            <div class="dropdown">
                                <select class="dropbtn" name="status" id="status">
                                    <option value="To do">To do</option>
                                    <option value="In progress">In progress</option>
                                    <option value="Complete">Complete</option>
                                </select>
                            </div>
                            <label class="label">Priority:</label>
                            <div class="dropdown">
                                <select class="dropbtn" name="priority" id="priority">
                                    <option value="Low">Low</option>
                                    <option value="Normal">Normal</option>
                                    <option value="High">High</option>
                                </select>
                            </div>
                            <input type="submit" class="btn" value="Add task">
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
{% endblock %}