{% extends 'base.html' %}

{% block content %}

<body>
    <main>
        <section class="register">
            <div class="message">
                {% for message in get_flashed_messages() %}
                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                    <symbol class="triangle-icon" id="exclamation-triangle-fill" fill="currentColor"
                        viewBox="0 0 16 16">
                        <path
                            d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                    </symbol>
                </svg>

                <div class="alert" role="alert">
                    <svg class="flex-shrink-0" role="img" aria-label="Warning:">
                        <use xlink:href="#exclamation-triangle-fill" />
                    </svg>
                    <div class="text-message">
                        {{ message }}
                    </div>
                    <button type="button" class="uil uil-multiply" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
            <div class="container">
                <div class="register-box">
                    <h3 class="sub-heading">Register</h3>
                    <div class="register-add">
                        <form method="POST" action="/register">
                            <label class="label">Name:</label><br>
                            <input type="text" class="form-input" name="name"><br>
                            <label class="label">Email:</label><br>
                            <input type="email" class="form-input" name="email"><br>
                            <label class="label">Password:</label><br>
                            <input type="password" class="form-input" name="password"><br>
                            <input type="submit" class="btn" value="Register">
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

{% endblock %}